.container {
    padding-bottom: 8rem;
    padding-top: 2rem;
}


.container button {
    width: 25%;
    margin: 2rem auto;
}

button:focus{
    outline: none;
}


@media (min-width: 1200px){
    .resultatPizza{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}

@media (max-width:768px){
    .resultatPizza{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:500px){

    .resultatPizza{
        grid-template-columns: 1fr;
    }
}



