.container {
    padding-bottom: 8rem;
    padding-top: 2rem;
}


/* Formulaire de filtre de pizzas */

#form-select-pizzas {
    width: 60%;
    margin: 0px auto;
    padding: 2em;
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
}

/* Trier par le nom d'une pizza */

#champs-nom {
    width: 50%;
    text-align: center;
    margin: 10px auto;
    grid-column: 1/1 ;
    grid-row: 1/1;
}


/* Prix de la pizza */
#champs-prix {
    grid-column: 1/1 ;
    grid-row: 2/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#champs-prix-1, #champs-prix-2  {
    width: 5em;
    margin: 0px 1em;
}


/* Ingredients de la pizza */

#champs-select-ingredients{
    grid-column: 2/2 ;
    grid-row: 1/1;
    width: 50%;
    text-align: center;
    margin: 10px auto;
    height: 75%;
}

select:invalid{
    color: gray;
}
option{
    color: black;
}

#champs-selected-ingredients {
    grid-column: 2/2 ;
    grid-row: 2/span 2;

}

#champs-selected-ingredients div {
    margin: 10px;
    padding: 5px;
    background-color: #DFDFDF;
    border-radius: 10px;
    display: inline-block;
    width: 25%;
    
}

#champs-selected-ingredients p {
    display : inline;
}

#champs-selected-ingredients .croix-list {
    margin-left: 10px;
    cursor: pointer;
}


/* Checkboxes */

#champs-checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* Button */

#button-div{
    grid-column: 1/span 2 ;
    grid-row: 4/4;
    display: flex;
    justify-content: center;
}

#submit-button{
    width: 25%;
}
