.container {
    padding-bottom: 8rem;
    padding-top: 2rem;
}

#form-select-pizzas {
    width: 70%;
    margin: 0px auto;
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#champs-nom {
    width: 50%;
    text-align: center;
    margin: 10px auto;
}

#champs-prix-1, #champs-prix-2  {
    width: 5em;
}

